<!DOCTYPE html>
<html>
  <head>
    <link href="/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/Content/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Word Counter</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Word Counter<small>By Jordan Loop</small></h1>
      </div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          </button><a class="navbar-brand" href="/">Home</a>
          </div>
        </div>
      </nav>
      <div id="dynamic-content">
        @RenderBody()
      </div>
    </div>
  </body>
</html>
