body {
font-family: 'Oswald', sans-serif;
background-color: #EEAA7B;
height: 100%;
}

html {
  height: 100%;
}

h1 {
  text-align: center;
}

label, p {
  font-size: 18pt;
}

span {
  color: #E37222;
}

.container {
  background-color: #F4F4F4;
  height: 100%;
}

.page-header {
  height: 15%;
  margin-bottom: 0%;
}

#dynamic-content {
  margin-top: 5%;
}

.navbar {
  border: none;
  background-color: #F4F4F4;
  margin-left: -1%;
}

#heading-color1 {
  color: #E37222
}

#heading-color2 {
  color: #5bc0de
}
